*.elc
*.go
*.info
*.log
*.tar.gz
*~
tmp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
config.status
configure
install-sh
m4
missing
texinfo.tex
/elisp/guix-autoloads.el
/elisp/guix-build-config.el
